@import url("https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700");
html,
body {
  padding: 0;
  margin: 0;
}
body {
  padding: 50px;
  font: 14px "PT Serif", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
.repo {
  margin-bottom: 80px;
}
.repo header h1 {
  padding-left: 42px;
  background: url("../images/git-repo-icon.png") left no-repeat;
  background-size: 32px;
  line-height: 1.2em;
}
.repo header .url {
  float: right;
  margin-top: 15px;
  color: #808080;
}
.repo header .desc {
  font-size: 1.1em;
  margin-top: -20px;
  padding-bottom: 20px;
  color: #808080;
}
.repo .log {
  padding: 0 10px;
  font-size: 1.2em;
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
  border-spacing: 5px;
}
.repo .log .line {
  display: table-row;
  width: 100%;
  line-height: 1.5em;
}
.repo .log .line div {
  display: table-cell;
  white-space: nowrap;
}
.repo .log .line .date {
  width: 175px;
}
.repo .log .line .author {
  width: 350px;
  white-space: normal;
}
.repo .log .line .message {
  width: 99%;
  white-space: normal;
  font-weight: bold;
}
.repo .log .line .hash {
  width: 100px;
  font-family: monospace;
}
.repo .more {
  color: #808080;
  font-size: 1em;
  padding: 0 15px;
}
.repoend {
  padding: 0;
  border: none;
  border-top: 1px solid #333;
  color: #333;
  text-align: center;
}
.feed {
  font-size: 1.2em;
}
.feed .activity {
  line-height: 1.5em;
}
.feed .activity .line .hash {
  font-family: monospace;
}
